/**
 * color.less，颜色变量模块
 * 规定颜色变量，便于后期统一调整
 * 正式less都必须从该文件引入颜色变量
 * */

/* 按钮颜色（button）*/
@color-button-primary-bg: #108EE9; // 主行动按钮背景
@color-button-primary-txt: #FFF; // 主行动按钮文字

@color-button-secondary-bg: #FFF; // 次行动按钮背景
@color-button-secondary-txt: #666; // 次行动按钮文字

@color-button-disable-bg: #F3F5F7; // 禁行动按钮背景
@color-button-disable-txt: #CCC; // 禁行动按钮文字

@color-button-warning-bg: #FF9900; // 高亮行动按钮背景
@color-button-warning-txt: #FFF; // 高亮行动按钮文字

@color-button-error-bg: #F04134; // 警告行动按钮背景
@color-button-error-txt: #FFF; // 警告行动按钮文字

/* 文本颜色 */
@color-text-main: #333; // 正文文本
@color-text-sub: #666; // 次文本
@color-text-notice: #999; // 表单提示文本
@color-text-unclear: #CCC; // 暗文文本

/* 标签颜色 */
@color-label-main-bg: #108EE9; // 主行动按钮背景
@color-label-main-txt: #FFF; // 主行动按钮文字
